/*初始化样式*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.main{
    width: 100%;
    margin: auto;
}
.top, .head,.nav,.photo,.container,.footer{
    display: flex;/*按列排版*/
}
.top{
    
    width: 100%;/*铺满浏览器*/
}
.t1{
    background-color: aqua;
    color: aqua;
    float: left;
    flex-grow: 1; /* 左边盒子占据剩余空间 */  
    
}
.t2{
    background-color: orange;
    color:#0e0e0e;
    width: 330px;
    float: right;
}

.head,.nav,.photo,.container,.footer{
    margin: auto;
    width: 100%;
    
}
.nav{
    background-color: #333;
}
.h1{
    background-color: burlywood;
    float: left;
    
    width: 100px;
    height: 100px;
}
.h2{
    padding: 50px 50px;
    flex-grow: 1; /* 左边盒子占据剩余空间 */ 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
float: left;
}

li a, .dropbtn {
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover, .dropdown:hover, .dropbtn {
background-color: #333;
}

.dropdown {
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px #333;
}

.dropdown-content a {
color: #333;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
display: block;
}
.container{
    
    display: flex;
    flex-direction: row;
    height: 800px;
}

.footer{
    width: 100%;
    height: 100px;
    background: #9d9c9cb1;
}
.lside,.rside.content{
    
    color: white;
    display: flex;
    flex-direction: column;
}
.lside{
    width: 33.3%;
    padding: 50px;
    background-color: blue;
}
.rside{
    width: 33.3%;
    padding: 50px;
    background-color: green;
}
.content{
    width: 33.3%;
    padding: 50px;
    background-color: red;
}
.video{
    width: 100%;
    margin:auto;
    display: inline-block;
    height: auto;
}
